
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layoutadmin.cshtml";
}

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">ADMIN PAGE</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Choose</li>
                </ol>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">Sản Phẩm</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="@Url.Action("SanPham", "HomeAdmin")">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body" style="background:#808080">Loại Nội Thất</div>
                            <div class="card-footer d-flex align-items-center justify-content-between" style="background:#808080">
                                <a class="small text-white stretched-link" href="@Url.Action("LoaiNoiThat", "HomeAdmin")">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body" style="background:#ff6a00">Nội Thất Chung</div>
                            <div class="card-footer d-flex align-items-center justify-content-between" style="background:#ff6a00">
                                <a class="small text-white stretched-link" href="@Url.Action("SanPham", "HomeAdmin")">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body" style="background:#ff0000">Menu</div>
                            <div class="card-footer d-flex align-items-center justify-content-between" style="background:#ff0000">
                                <a class="small text-white stretched-link" href="@Url.Action("SanPham", "HomeAdmin")">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body" style="background:#051968">Tin Tức</div>
                            <div class="card-footer d-flex align-items-center justify-content-between" style="background:#051968">
                                <a class="small text-white stretched-link" href="@Url.Action("TinTuc", "HomeAdmin")">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">Hóa Đơn Khách Hàng</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="@Url.Action("Index", "Details")">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

