@model IEnumerable<OnlineShop.Models.Product>
@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Shared/Layoutadmin.cshtml";
}

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-table mr-1"></i>DataTable</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>LoaiNoiThat</th>
                                        <th>Price</th>
                                        <th>Image</th>
                                        <td>NoiDung</td>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td>@item.Code</td>
                                            <td>@item.Price</td>
                                            <td width="150px"><img style="width:150px; height:150px" src="~/assets/client/images/@item.Image" /></td>
                                            <td>@item.Description</td>
                                            <td>@Html.ActionLink("Edit", "EditProduct", new { id = item.ID })</td>
                                            <td>@Html.ActionLink("Delete", "DeleteProduct", new { id = item.ID })</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @Html.ActionLink("Create New", "CreateProduct")
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

