
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login V3</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/User/images/icons/favicon.ico">

    <!--===============================================================================================-->
    <link href="~/Content/User/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/User/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/User/fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/User/vendor/animate/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/User/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/User/vendor/animsition/css/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/User/vendor/select2/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/User/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/User/css/util.css" rel="stylesheet" />
    <link href="~/Content/User/css/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter">
        <div class="container-login100" style=" background-image: url('../../Content/User/images/bg-01.jpg');">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
            <div class="wrap-login100">

                <form class="login100-form validate-form">
                    <span class="login100-form-logo">
                        <i class="zmdi zmdi-landscape"></i>
                    </span>

                    <span class="login100-form-title p-b-34 p-t-27">
                        Log in
                    </span>
                    <div class="wrap-input100 validate-input alert-validate" data-validate="Name is required">
                        <span class="label-input100">Full Name</span>
                        <input class="input100" type="text" name="name" placeholder="Name...">
                        @ViewData["Loi1"]

                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input alert-validate" data-validate="Valid email is required: ex@abc.xyz">
                        <span class="label-input100">Email</span>
                        <input class="input100" type="text" name="email" placeholder="Email addess...">
                        @ViewData["Loi5"]
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Username is required">
                        <span class="label-input100">Username</span>
                        <input class="input100" type="text" name="username" placeholder="Username...">
                        @ViewData["Loi2"]
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input alert-validate" data-validate="Password is required">
                        <span class="label-input100">Password</span>
                        <input class="input100" type="text" name="pass" placeholder="*************">
                        @ViewData["Loi3"]
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input alert-validate" data-validate="Repeat Password is required">
                        <span class="label-input100">Repeat Password</span>
                        <input class="input100" type="text" name="repeat-pass" placeholder="*************">
                        @ViewData["Loi4"]
                        <span class="focus-input100"></span>
                    </div>
                    @*<div class="wrap-input100 validate-input" data-validate="Username is required">
                        <span class="label-input100">Ngày Sinh</span>
                        <input class="input100" type="date" name="ngaysinh" placeholder="01/01/2020...">
                        @ViewData["Loi6"]
                        <span class="focus-input100"></span>
                    </div>*@
                    <div class="wrap-input100 validate-input" data-validate="Username is required">
                        <span class="label-input100">SDT</span>
                        <input class="input100" type="text" name="sdt" placeholder="012345678...">
                        @ViewData["Loi6"]
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Username is required">
                        <span class="label-input100">Địa Chỉ</span>
                        <input class="input100" type="text" name="diachi" placeholder="111/A...">
                        
                        <span class="focus-input100"></span>
                    </div>

                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            <a href="#">Đăng Kí</a>
                        </button>
                    </div>

                    <div class="text-center p-t-90">
                        <a class="txt1" href="#">
                            Quên Mật Khẩu ?
                        </a>
                    </div>
                </form>
            </div>
            }
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Content/User/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/User/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/User/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/User/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/User/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/User/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/User/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/User/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/User/js/main.js"></script>
</body>
</html>
