@model ThietKeNoiThat.Models.TinTuc

@{
    ViewBag.Title = "CreateTT";
    Layout = "~/Views/Shared/Layoutadmin.cshtml";
}

@section jsFooter{
    <script>
       $('#btnSelectImage').on('click', function (e) {
           e.preventDefault();
           var finder = new CKFinder();
           finder.selectActionFunction = function (url) {
               $('#txtImage').val(url);
           };
           finder.popup();
       })
       var editor = CKEDITOR.replace('txtContent', {customConfig: '/Plugin/ckeditor/config.js'})
    </script>
}

<h2>CreateProduct</h2>
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                @using (Html.BeginForm("CreateTT", "HomeAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>CREATE PRODUCT</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.tentt, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.tentt, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.tentt, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.img, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="file" id="img" name="img" accept=".jpg, .png, .gif,.jpeg, .bmp" />
                                @Html.ValidationMessageFor(model => model.img, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.link, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.link, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.link, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.NoiDung, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.NoiDung, new { htmlAttributes = new { @class = "form - conteol" }, @id = "txtContent" })
                                @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-danger" />
                            </div>
                        </div>
                    </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "SanPham")
                </div>
            </div>
        </main>
    </div>
</div>

