@model ThietKeNoiThat.Models.PRODUCT

@{
    ViewBag.Title = "CreateProduct";
    Layout = "~/Views/Shared/Layoutadmin.cshtml";
}
@section jsFooter{
    <script>
       $('#btnSelectImage').on('click', function (e) {
           e.preventDefault();
           var finder = new CKFinder();
           finder.selectActionFunction = function (url) {
               $('#txtImage').val(url);
           };
           finder.popup();
       })
       var editor = CKEDITOR.replace('txtContent', {customConfig: '/Plugin/ckeditor/config.js'})
    </script>
}

<h2>CreateProduct</h2>
<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                @using (Html.BeginForm("CreateProduct", "HomeAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>CREATE PRODUCT</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.IMGPath, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" id="img" name="img" accept=".jpg, .png, .gif,.jpeg, .bmp" />
                            @Html.ValidationMessageFor(model => model.IMGPath, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PRICE, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PRICE, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PRICE, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LoaiNoiThat, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.LoaiNoiThat, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LoaiNoiThat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MOTA, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.MOTA, new { htmlAttributes = new { @class = "form - conteol" }, @id = "txtContent" })
                            @Html.ValidationMessageFor(model => model.MOTA, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "SanPham")
                </div>
            </div>
        </main>
    </div>
</div>


