@model ThietKeNoiThat.Models.TinTuc

@{
    ViewBag.Title = "EditTT";
    Layout = "~/Views/Shared/Layoutadmin.cshtml";
}

    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    @using (Html.BeginForm("EditTT", "HomeAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>EDIT PRODUCT</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.IDTT)

                            <div class="form-group">
                                @Html.LabelFor(model => model.tentt, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.tentt, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.tentt, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.img, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input type="file" id="img" name="img" accept=".jpg, .png, .gif,.jpeg, .bmp" />
                                    @Html.ValidationMessageFor(model => model.img, "", new { @class = "text-danger" })
                                </div>
                            </div>

                           

                            <div class="form-group">
                                @Html.LabelFor(model => model.link, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.link, new { htmlAttributes = new { @class = "form-control" } })
                                    link
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-danger" />
                                </div>
                            </div>
                        </div>
                    }

                    <div>
                        @Html.ActionLink("Back to List", "TinTuc")
                    </div>
                </div>
            </main>
        </div>
    </div>
