@model IEnumerable<ThietKeNoiThat.Models.TinTuc>
@{
    ViewBag.Title = "TinTuc";
    Layout = "~/Views/Shared/Layoutadmin.cshtml";
}

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-table mr-1"></i>DataTable</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Link</th>
                                        <th>Nội DUng</th>
                                        <td>IMAGE</td>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.tentt
                                            </td>
                                            <td>@item.link</td>
                                            <td>@item.noidung</td>
                                            <td width="150px"><img style="width:150px; height:150px" src="@Url.Content("~/Content/ImagesProduct/"+item.img)" /></td>

                                            <td>@Html.ActionLink("Edit", "EditTT", new { id = item.ID })</td>
                                            <td>@Html.ActionLink("Delete", "DeleteTT", new { id = item.ID })</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @Html.ActionLink("Create New", "CreateTT")
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<a href="#">content</a>
